<div>
    <div>Email</div>
    <div>
        <p>{{ email.message.from }}</p>
        <p>{{ email.message.date | date: 'dd/MM/yyyy' }}</p>
        <p>{{ email.message.subject }}</p>

        <a href="" ng-click="reply = !reply;">Reply</a>
        <a href="/#/inbox">Back</a>

        <div ng-bind-html="email.message.content"></div>
        <div ng-show="reply">
            <textarea ng-model="response" placeholder="Enter a reply"
                class="email_response-text"></textarea>
            <a href="" ng-click="email.reply(response);">Send</a>
        </div>
    </div>
</div>
